* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Global font */
}

  body{
    background-image: url(/images/back1.jpg) ; 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
} 
#click{
    display: none;
    
    }
    header {
        background-color: white;
        padding: 15px 40px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo img {
        height: 30px;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 16px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        flex-direction: column;
      }
      
      .dropdown-content {
        display: none;
         /* flex-direction: column;  */
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
    
    
    
    
    
    
    
    .login-btn {
        background-color: black;
        color: white;
        border-radius: 10px;
        height: 30px;
        align-items: center;
        font-size: medium;
        width: 70px;
        padding-right: 10px;
        margin: 10px;
    
    }
    .singup-btn{
        
        background-color: black;
        color: white;
        border-radius: 10px;
        width: 70px;
        height: 30px;
        align-items: center; 
        font-size: medium;
        padding: left 10px;;
        margin: 10px;
        
        
    }
    /* hover image */
    
     img:hover {
        transition: transform 0.3s ease;
        transform: scale(1.1);
    }
        
    #search-section input {
        padding: 10px;
        width: 250px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    section{
        align-items: center;
        justify-items: center;
    }

   .heading h1{
       font-size: 40px;
       margin-top: 10px;
       margin-bottom: 10px;
       color: rgb(30, 31, 30);

    }
  .home button a {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: 600;
    font-size: larger;
   
    
  }